doctype html
html(lang="en")
  head
    title Lupin example
    //script(src='bundle.js')
    script(src="/jspm/system.js")
    script(src="/config.js")
    script.
      System.config({baseURL: "/"})
      System.import('greeting/greeting')
  body
    nav
      a(href='/') Home
    input#source(placeholder=Name)
    #sink